@model List<Member>

@{
    ViewData["Title"] = "Members";
}

<div class="text-center">
    <h1 class="display-4">See our members</h1>
    <ol>
        @foreach (var Member in Model)
        {
        <li>
            <h2>@Member.Id - @Member.Name</h2>
            <h3>@Member.Email</h3>
            <p>@Member.BirthDate</p>
        </li>
        }

    </ol>
    </div>
