@model List<Member>

@{
    ViewData["Title"] = "Members";
}
<h1 class="display-4">See our members</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birth Date</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var Member in Model)
        {
            <tr>
                <th scope="row">@Member.Id</th>
                <td>@Member.Name</td>
                <td>@Member.Email</td>
                <td>@Member.BirthDate</td>
            </tr>   
        }
  </tbody>
